@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:   linear-gradient(45deg,#6A0DAD , #e1dfe9);
  color: #322c2c ;
  min-height: 100vh;    
}

#header {
  text-align: center;
  margin: 3rem auto;
}


#header img {
  width: 75%;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
}

.Leaderboard{
  display: flex;
  align-items: center;
  justify-content: center;
}


table {
  width: 80vw;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-weight: bold;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #CFCCD6;
}


th {
  background-color: #4c08d3;
  color: white;
}